{% extends 'base.html.twig' %}

{% block title %} Bienvenue sur ma page!{% endblock %}

{% block body %}
<style>
.entete { margin:auto; max-width:800px; width:95%; font:18px;}
.entete { background-color: gray; padding: 2px;}
img {
	width: 100px;
	height: 100px;
    padding-right: 2cm;}
h1 {
 font-size: 150%; 
 color: navy; 
 text-align: left;
 }
</style>
<div class="entete">
<h1> Presentation </h1>
<img src="{{asset('build/images/image.jpg')}}" title="my image" alt="My image" >
<p> Je suis Fatoumata TRAORE étudiante en Master 2  Informatique pour les sciences.</p>
<h2>Mes projets realisés</h1>

<ul>

        
        {% for ProjetInfo in ProjetInfo %}
        <li>{{ ProjetInfo.Id|capitalize }}</li>
        <ol>
        {% for Module in ProjetInfo.Modules %}
        	<li>{{ Module.Id|capitalize }}</li>
        	<P>{{ Module.Language|capitalize}} </P>
        	<p>{{Module.Framework|capitalize}} </p>
        {% endfor %}
    </ol>

             {% endfor %}


    </ul>
    {{ include('moncontrolleur/Page2.html.twig',{title:'Mes Projets', description:"bhcf"}) }}

  </div>
<p>&copy; 2019 Fatou<p>


{% endblock %}
