{% extends 'base.html.twig' %}

{% block body %}

<div class="projets">

Pour visualiser mes projets réalisés ou mes liens pro vous pouvez vous rendre 
<ul><a href="/projets/index.html.twig">Ici</a></ul>
 Pour en savoir plus sur mes hobbies: 
<ul><a href="/hobby/index.html.twig">Centre d'intêret</a></ul>

</div>
{% endblock %}
