{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

     Mes loisirs:
    <ul>
        La dance: voici un site où vous pouvez aprendre la dance:
        <li>Your controller at <code><a href="{{ 'https://www.superprof.fr/blog/cours-de-danse-gratuits/'|file_link(0) }}">src/Controller/HobbyController.php</a></code></li>
    </ul>
</div>
{% endblock %}