{% extends 'base.html.twig' %}

{% block title %}Hello HobbyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    j'ai la dance voici quelque site où vous pouvez apprendre à dancer:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/e20170013255/projets/symfo/Mon_projet/src/Controller/HobbyController.php'|file_link(0) }}">src/Controller/HobbyController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/e20170013255/projets/symfo/Mon_projet/templates/hobby/index.html.twig'|file_link(0) }}">templates/hobby/index.html.twig</a></code></li>
    </ul>
      {{ include('projets/MesProjets.html.twig',{title:'Mes Projets', description:"bhcf"}) }}

</div>
{% endblock %}
