<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block body %}
                 {{ include('projets/index.html.twig') }}
                 {{ include('moncontrolleur/index.html.twig') }}
                 {{ include('hobby/index.html.twig') }}

        {% endblock %}
        {% block javascripts %}{% endblock %}

        <style>
@media(min-width: 800px) {
 body { background-color: white; color: bla;}
</style>
    </body>


</html>
