{% extends 'base.html.twig' %}

{% block title %} Bienvenue sur ma page!{% endblock %}

{% block body %}
<style>
.entete { margin:auto; max-width:800px; width:95%; font:18px;}
.entete { background-color: gray; padding: 2px;}
img {
	width: 100px;
	height: 100px;
    padding-right: 2cm;}
h1 {
 font-size: 150%; 
 color: navy; 
 text-align: left;
 }
</style>
<div class="entete">
<h1> Presentation </h1>
<p> Je suis Fatoumata TRAORE étudiante en Master 2  Informatique pour les sciences kkk.</p>
<h2>Mes languages favoris</h1>
  {{ include('projets/MesProjets.html.twig',{title:'Mes Projets', description:"bhcf"}) }}

  </div>
<p>&copy; 2019 Fatou<p>


{% endblock %}
