{% extends 'base.html.twig' %}

{% block body %}

<div class="projets">

Pour voir mes projets vous pouvez vous rendre 
    <ul>
        <li>Lien GitLab <a href="{{ 'https://gitlab.com/Toufa/'}}">Mon GitLab</a></li>
        <li>Lien LinkedIn <a href="{{ 'https://fr.linkedin.com/in/fatoumata-traore-69815b172'}}">Mon LinkedIn</a></li>
    </ul>


     
</div>
{% endblock %}
